{% extends "base_generic.html" %}
{% block content %}
  <h1>Confirmed Ride Request Detail</h1>
  {% if ride_request %}
  <ul>
       <li><a>Creation Date: {{ride_request.create_date}}</a></li>
       <li><a>Destination: {{ride_request.destination}}</a></li>
       <li><a>Passenger Number:{{ride_request.passenger_num}}</a></li>
       <li><a>Special Car Info:{{ride_request.special_car_info}}</a></li>
       <li><a>Remarks: {{ride_request.remarks}}</a></li>
  </ul>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Complete</button>
  </form>
  {% else %}
    <p>There is no required order.</p>
  {% endif %}       
{% endblock %}
