{% extends "base_generic.html" %}
{% block content %}
<p>Welcome the ride share website</p>
<a href="{% url 'orders:owner_request_ride' %}"><p>Request a ride</p></a>
<a href="{% url 'orders:owner_order_list' %}"><p>View ongoing requests</p></a>
<a href="{% url 'orders:driver_profile' %}"><p>Driver Profile</p></a>
<a href="{% url 'orders:sharer_order_list' %}"><p>View ongoing share requests</p></a>
<a href="{% url 'orders:driver_search_ride' %}"><p>Ride search</p></a>
<a href="{% url 'orders:driver_order_list' %}"><p>Driver's onging orders</p></a>
<a href="{% url 'orders:sharer_request_ride' %}"><p>Find a shared ride</p></a>
{% endblock %}
