{% extends "base_generic.html" %}

{% block content %}
  <h1>Request List</h1>
  {% if request_list %}
  <ul>
    {% for request in request_list %}
      <li>
        <a href="{{ request.get_absolute_url }}">Creation time: {{ request.create_date }} Destination: {{request.destination}}</a>{% if request.driver%}(Driver: {{request.driver}}){% endif %}(status: {{request.status}})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>You didn't make any request yet.</p>
  {% endif %}       
{% endblock %}
