{% extends "base_generic.html" %}
{% block content %}
  <h1>Share Ride Searching</h1>
  {% if request_list %}
  <ul>
    {% for request in request_list %}
      <li>
        <a href="{{request.add_share_ride_url}}/{{share_request_id}}">Required Arrival Time: {{ request.arrival_time }} Destination: {{request.destination}}</a>(Owner:{{request.owner}}, passenger_num: {{request.passenger_num}})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There is no available shared request.</p>
  {% endif %}       
{% endblock %}
